[submodule "submodules/msu-latentafis"]
	path = submodules/msu-latentafis
	url = https://github.com/gfiumara/msu-latentafis
[submodule "submodules/elft_public"]
	path = submodules/elft_public
	url = https://github.com/usnistgov/elft
